<div class="grid-4 grid-6_l grid-12_xs">
	<%= link_to link do %>
				<div class="disput-item <%= image_class %>">
					<div class="disput-item__content">
						<div class="h3 disput-item__name"><small><%=t('specializations.expertise')%></small><%=t('specializations.in')%>&nbsp;<br><%= expertise %></div>
						<div class="disput-item__btn">Learn More<i class="i-ar-right"></i></div>
					</div>
				</div>
				<% end %>
			</div>
