<div class="expertise__header row">
  <div class="expertise__title col-md-8">
    <div class="expertise__title--name">
      <h1><%=t('panagiotis')%><span class = "logo__first-letter">  Z</span><%=t('Zinovief')%></h1>
    </div>
    <div class="">
      <h2 ><%=t('lawfirm')%></h2>
    </div>
  </div>
  <div class="expertise__saying col-md-4">
    <span>Victorious warriors win first and then go to war while defeated warriors go to war first and then seek to win</span>
  </div>
</div>
<div class="about" id = "about">
  <div class="row">
    <div class="col-lg-8">
      <div class="about__text--header">
        <h2><%=t('about.panagiotis')%></h2>
        <h4><%=t('about.subheader')%></h4>
      </div>
      <div class="about__text">
        <p><%=t('about.text1')%></p>
        <p><%=t('about.text2')%></p>
      </div>
      <%= link_to 'Contact Us', contact_path, class: "btn btn-outline-primary button__contact" %>
    </div>
    <div class="col-lg-4">
      <%= image_tag('profile-pic.jpeg', class: "about__profile-pic") %>
    </div>
  </div>
</div>
<div class="mb-5 pt-1">
  <h2>Areas of Activity</h2>
</div>
<div class="css-grid">
  <%= render partial: 'practice-box', locals: { :link => 'immigration', :image_class => 'disput-item--1 disput-item-1', :expertise => t('specializations.immigration')} %>
  <%= render partial: 'practice-box', locals: { :link => 'white_collar', :image_class => 'disput-item--2 disput-item-2', :expertise => t('specializations.whiteCollar')}  %>
  <%= render partial: 'practice-box', locals: { :link => 'real_estate', :image_class => 'disput-item--3 disput-item-3', :expertise => t('specializations.realEstate')}  %>
  <%= render partial: 'practice-box', locals: { :link => 'tax', :image_class => 'disput-item--4 disput-item-4', :expertise => t('specializations.tax')}   %>
  <%= render partial: 'practice-box', locals: { :link => 'civil_law', :image_class => 'disput-item--5 disput-item-5', :expertise => t('specializations.civilLaw')}   %>
  <%= render partial: 'practice-box', locals: { :link => 'invest_in_greece', :image_class => 'disput-item--6 disput-item-6', :expertise => t('specializations.investInGR')}   %>
</div>

<div class="articles">
    <h2 class="mb-5 pt-3"> <%=t('articles')%> </h2>
  <ul class="recipe-card-list bare-list css-grid">
    <% @blogs.order(created_at: :asc).each do |blog| %>
    <li> <%= render partial: 'blog-card', locals: { blog: blog } %> </li>
    <% end %>
  </ul>
</div>
