<div class="expertise__header">
  <h1 class="expertise__title">Panagiotis Zinovief Law Firm</h1>
</div>
<div class="css-grid">
  <%= render partial: 'practice-box', locals: { :link => 'immigration', :image_class => 'disput-item--1', :expertise => 'Immigration'} %>
  <%= render partial: 'practice-box', locals: { :link => 'white_collar', :image_class => 'disput-item--2', :expertise => 'White Collar Crime'}  %>
  <%= render partial: 'practice-box', locals: { :link => 'real_estate', :image_class => 'disput-item--3', :expertise => 'Real Estate'}  %>
  <%= render partial: 'practice-box', locals: { :link => 'tax', :image_class => 'disput-item--4', :expertise => 'Tax'}   %>
  <%= render partial: 'practice-box', locals: { :link => 'civil_law', :image_class => 'disput-item--5', :expertise => 'Civil Law'}   %>
  <%= render partial: 'practice-box', locals: { :link => 'invest_in_greece', :image_class => 'disput-item--6', :expertise => 'Invest in Greece'}   %>
</div>
