<div class="expertise__header row">
  <div class="expertise__title col-md-8">
    <div class="expertise__title--name">
      <h1><%=t('panagiotis')%><span class="header__first-letter"> Z</span><%=t('Zinovief')%></h1>
    </div>
    <div class="">
      <h2 ><%=t('lawfirm')%></h2>
    </div>
  </div>
  <div class="expertise__saying col-md-4">
    <span>Victorious warriors win first and then go to war while defeated warriors go to war first and then seek to win</span>
  </div>
</div>
<div class="about" id = "about">
  <div class="about__image--mobile">
    <%= image_tag('profile-pic-moble.jpeg', class: "") %>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="about__text--header">
        <h2><%=t('about.panagiotis')%></h2>
        <h4><%=t('about.subheader')%></h4>
      </div>
      <div class="about__text">
        <p><%=t('about.text1')%></p>
        <p><%=t('about.text2')%></p>
      </div>
      <%= link_to 'Contact Us', contact_path, class: "btn btn-outline-primary button__contact" %>
    </div>
    <div class="col-lg-4 about__image--desktop">
      <%= image_tag('profile-pic.jpeg', class: "") %>
    </div>
  </div>
</div>
<div class="mb-5 pt-1">
  <h2>Areas of Activity</h2>
</div>
<div class="css-grid">
  <%= render partial: 'practice-box', locals: { :link => 'immigration', :image_class => 'disput-item--1 disput-item-1', :expertise => t('specializations.immigration')} %>
  <%= render partial: 'practice-box', locals: { :link => 'white_collar', :image_class => 'disput-item--2 disput-item-2', :expertise => t('specializations.whiteCollar')}  %>
  <%= render partial: 'practice-box', locals: { :link => 'real_estate', :image_class => 'disput-item--3 disput-item-3', :expertise => t('specializations.realEstate')}  %>
  <%= render partial: 'practice-box', locals: { :link => 'tax', :image_class => 'disput-item--4 disput-item-4', :expertise => t('specializations.tax')}   %>
  <%= render partial: 'practice-box', locals: { :link => 'civil_law', :image_class => 'disput-item--5 disput-item-5', :expertise => t('specializations.civilLaw')}   %>
  <%= render partial: 'practice-box', locals: { :link => 'invest_in_greece', :image_class => 'disput-item--6 disput-item-6', :expertise => t('specializations.investInGR')}   %>
</div>

<div class="articles">
    <h2 class="mb-5 pt-3"> <%=t('articles')%> </h2>
  <ul class="recipe-card-list bare-list css-grid">
    <% @blogs.order(created_at: :asc).each do |blog| %>
    <li> <%= render partial: 'blog-card', locals: { blog: blog } %> </li>
    <% end %>
  </ul>
</div>
<div class="mainpage__contact">
  <h2 class="mb-5 pt-3"> <%=t('contact-index.title')%> </h2>
  <div class="row">
    <div class="col-md-8">
      <div class="mainpage__contact--text">
        <div class="mainpage__contact--text__header">
          <h3>Lorem ipsum dolor sit amet</h3>
        </div>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mainpage__contact--form">
        <%= form_with(model: @message, local: true) do |f| %>
          <div class="mb-3">
            <%= f.label :email, 'Your email', class: "form-label" %>
            <%= f.email_field :email, class: "form-control", placeholder: 'e.g client@email.com', required: true%>
          </div>
          <div class="mb-3">
            <%= f.label :name, 'Your full name', class: "form-label" %>
            <%= f.text_field :name, class: "form-control", placeholder: 'e.g Mr Smith', required: true %>
          </div>
          <div class="mb-3">
            <%= f.label :message, 'Send us a message', class: "form-label" %>
            <%= f.text_area :message, class: "form-control", placeholder: 'Please type your message here...', required: true %>
          </div>
          <%= f.submit "Send Message", class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
