
<!-- <div class="contact__header row">
<h1>Need Futher Information</h1>
</div> -->
  <div class="row contact__body">

    <div class="col-md-4">
    <div class="contact__phone ">


    <h2 class="" >Contact Number</h2>
    <ul class = "bare-list">
    <li>  <%= image_tag 'phone_with_wire.svg' %>+30 210000213232 </li>
    <li>  <%= image_tag 'telegram_logo.svg' %> +30 695 629 8288</li>
    <li>  <%= image_tag 'viber-logo.svg' %> +30 695 629 8288</li>
    <li>  <%= image_tag 'whatsapp_logo.svg' %> +30 695 629 8288</li>
    </ul>
    </div>
    <div class="contact__map" id="map">
      <div class="address__header">
        <%= image_tag('location.svg') %>
        <h2> Address </h2>
      </div>


      <div class="address_info">

        <div class="address_details">
          <p>Ioannou Paparrigopoulou 3,
          <p>Athens 105 61</p>
          <p>Greece</p>
          <small> In the center next to the metro station Panepistimio</small>
        </div>

      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12579.673358835269!2d23.731975!3d37.979035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd3b95440001%3A0x6baec98dbc8127e4!2sloannou%20Paparrigopoulou%203%2C%20Athina%20105%2061%2C%20Greece!5e0!3m2!1sen!2ses!4v1618825530057!5m2!1sen!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    </div>
    <div class="col-md-4">
      <div class="contact__form"">
    <h2 class="contact__form">ЗАПИШИТЕСЬ на консультацию</h2>
    <%= form_with(model: @message, local: true) do |f| %>
      <div class="mb-3">
        <%= f.label :name, 'Your full name', class: "form-label" %>
        <%= f.text_field :name, class: "form-control", placeholder: 'e.g Mr Smith', required: true %>
      </div>
      <div class="mb-3">
        <%= f.label :email, 'Your email', class: "form-label" %>
        <%= f.email_field :email, class: "form-control", placeholder: 'e.g client@email.com', required: true%>
      </div>
      <div class="mb-3">
        <%= f.label :email, 'Your telephone', class: "form-label" %>
        <%= f.email_field :email, class: "form-control", placeholder: 'e.g client@email.com', required: true%>
      </div>
      <div class="mb-3">
        <%= f.label :message, 'Legal corncern', class: "form-label" %>
        <%= f.text_area :message, class: "form-control", placeholder: 'Brief description of your query...', required: true %>
      </div>
      <%= f.submit "Send Message", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
  </div>
