<%= form_with(model: blog, local: true ,html: { class: 'col-lg-10 form__groups' }) do |f| %>
<div class="form-group mb-3">
  <%= f.label :image, "Upload an image" %>
  <%= f.file_field :image, class: 'btn' %>
  <div class="mb-3">
    <small class="rowform-text text-muted">File size max 1MB, only png, jpg and jpeg format</small>
  </div>
</div>
<div class="mb-3">
  <%= f.label :title, 'Title of Blog', class: "form-label" %>
  <%= f.text_field :title, class: "form-control", required: true%>
</div>
<div class="mb-3">
  <%= f.label :abstract, 'Abstract', class: "form-label" %>
  <%= f.text_area :abstract, class: "form-control",  required: true %>
</div>
<div class="mb-3">
  <%= f.label :body, 'Blog Entry', class: "form-label" %>
  <%= f.text_area :body, class: "form-control", required: true %>
</div>
<%= f.submit class: "btn btn-primary" %>
<% end %>
