<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <%= link_to root_path, class: "navbar-brand" do %>
      <div class="logo">
        <%= image_tag(asset_url("compass.svg")) %>
        <div class="logo__name">
          <div class="logo__panagiotis">
            <span class="logo__first-letter">Z</span>inovief Panagiotis
          </div>
          <small class="logo__subheader"> Lawyer </small>
        </div>
      </div>
    <% end %>
    <li class="language language__mobile">
      <div class="header__languages">
        <%= image_tag('globe-icon.svg')%>
        <%= link_to :locale => 'en' do %>
        EN
        <% end %>
        <%= link_to :locale => 'ru' do %>
        РУ
        <% end %>
        <%= link_to :locale => 'gr' do %>
        ΕΛ
        <% end %>
      </div>
      </li>
      <% if(is_logged_in?) %>
        <%= render partial: 'admin_user_header' %>
      <% else %>
      <%= render partial: 'anonymous_user_header' %>
      <% end %>
      <li class="language language__desktop-tablet nav-item">
        <div class="header__languages">
          <%= image_tag('globe-icon.svg')%>
          <%= link_to :locale => 'en' do %>
          EN
          <% end %>
          <%= link_to :locale => 'ru' do %>
          РУ
          <% end %>
          <%= link_to :locale => 'gr' do %>
          ΕΛ
          <% end %>
        </div>
        </li>
    </div>
</nav>
